::-webkit-selection {
  background: #46828b;
  color: #ffffff; }

::-moz-selection {
  background: #46828b;
  color: #ffffff; }

::-ms-selection {
  background: #46828b;
  color: #ffffff; }

::-o-selection {
  background: #46828b;
  color: #ffffff; }

::selection {
  background: #46828b;
  color: #ffffff; }

body {
  background: #f7f6f3;
  color: #5d5450;
  margin: none;
  padding: none;
  font-family: "Verdana", sans-serif; }

a {
  color: #46828b;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear; }

a:hover {
  text-shadow: 0px 0px 15px #71AEB7; }

.header {
  text-align: center; }

#title {
  font-family: "Norican", cursive;
  font-size: 75px;
  border-bottom: 1px solid #dbdbdb; }

#subtitle {
  margin-top: 40px;
  font-family: "Norican", cursive;
  font-size: 20px; }

.content {
  margin: 30px auto;
  padding: 25px;
  width: 70%;
  background: #ffffff;
  box-shadow: 0px 0px 6px #767676 inset; }

footer {
  margin: 0px auto;
  width: 70%;
  word-spacing: 100px;
  text-align: center; }
  footer a {
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    padding-right: 40px;
    padding-left: 40px; }
