pre {
  border: 1px solid #f7f6f3;
  border-radius: 5px;
  padding: 7px;
  background: #f7f6f3;
  font-size: 13px;
  word-break: break-all; }

pre, code {
  font-family: "Menlo", "Monaco", "Courier", monospace; }

pre .comment {
  color: #999999; }

pre .keyword, pre .storage {
  color: #46828B; }

pre .entity.class {
  color: #84468b; }

pre .string {
  color: #468b57; }

pre .constant {
  color: #9f5750; }

pre .variable {
  color: #8B5D46; }

pre .operator {
  color: #5d543c; }
