// - - - - - - - - - - - - - - - - - - -
// Mixins
// - - - - - - - - - - - - - - - - - - -

@mixin transition($s) {
  -webkit-transition: $s linear;
  -moz-transition: $s linear;
  -ms-transition: $s linear;
  -o-transition: $s linear;
  transition: $s linear;
}

$background: #F7F6F3;

// - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - -

$brown: #5D5450;
$aqua : #46828B;

// - - - - - - - - - - - - - - - - - - -
// Main
// - - - - - - - - - - - - - - - - - - -

// Selection colors
::-webkit-selection {background: $aqua; color: #ffffff;}
::-moz-selection {background: $aqua; color: #ffffff;}
::-ms-selection {background: $aqua; color: #ffffff;}
::-o-selection {background: $aqua; color: #ffffff;}
::selection {background: $aqua; color: #ffffff;}

body {
  background: $background;
  color: $brown;

  margin: none; padding: none;
  font-family: "Verdana", sans-serif;
}

a {
  color: $aqua;
  text-decoration: none;
  @include transition(.2s)
}

a:hover {
  text-shadow: 0px 0px 15px #71AEB7;
}


.header {
  text-align: center;
}

#title {
  font-family: "Norican", cursive;
  font-size: 75px;

  border-bottom: 1px solid #dbdbdb;
}

#subtitle {
  margin-top: 40px;
  
  font-family: "Norican", cursive;
  font-size  : 20px;
}

.content {
  margin: 30px auto;
  padding: 25px;

  width: 70%;

  background: #ffffff;
  
  box-shadow: 0px 0px 6px #767676 inset;
}

footer {
  margin: 0px auto;
  width: 70%;

  word-spacing: 100px;

  text-align: center;

  a { border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;
      padding-right: 40px;             padding-left: 40px; }
}
