$bg: #F7F6F3;
$fg: #5D543C;

// Colors //
$green: #468B57;
$pink : #84468B;
$red  : #9F5750;

pre {
  border: 1px solid $bg;
  border-radius: 5px;

  padding: 7px;

  background: $bg;

  font-size: 13px;

  word-break: break-all;
}

pre, code { font-family: "Menlo", "Monaco", "Courier", monospace; }

pre .comment { color: #999999; }

pre .keyword, pre .storage { color: #46828B; }
pre .entity.class   { color: $pink; }

pre .string   { color: $green; }
pre .constant { color: $red; }

pre .variable { color: #8B5D46; }


// Operators are NOT colored
pre .operator { color: $fg; }
