<!DOCTYPE html>

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/index.css">
  </head>

  <body>
    <div class="header">
      <span id="title">teacup</span>
      <p id="subtitle">A Little library for RubyMotion!</p>
    </div>

    <div class="content">
      Welcome to Teacup!

            <pre><code data-language="ruby"># A sample!
class UIViewController &lt; UIViewController

  def viewDidLoad
    @title = UILabel.new
    @title.text = "Welcome to Teacup!"
  end

end

Label do
  color = :blue
end</code></pre>

      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>

    <footer>
    <p><a href="#">Links!</a> <a href="#">Link2!</a> <a href="#">Link3!</a></p>
    </footer>

  </body>

  <script src="../js/rainbow.min.js"></script>
  <link rel="stylesheet" href="../css/theme.css">
  <script src="../js/generic.js"></script>
  <script src="../js/ruby.js"></script>
</html>
