<!DOCTYPE html>

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/index.css">
  </head>

  <body>
    <div class="header">
      <span id="title">teacup</span>
      <p id="subtitle">Making user interfaces for Rubymotion fun!</p>
    </div>

    <div class="content">
            <pre><code data-language="ruby" style="font-size: 50px;"># Coming soon!</code></pre>
    </div>

    <footer>
    <p><a href="https://github.com/rubymotion/teacup">Github</a></p>
    </footer>

  </body>

  <script src="../js/rainbow.min.js"></script>
  <link rel="stylesheet" href="../css/theme.css">
  <script src="../js/generic.js"></script>
  <script src="../js/ruby.js"></script>
</html>
